/**
  * pls ignore @font-faces, they r used for font purposes lol
  */

@font-face {
  font-family: "ClashGrotesk-Variable";
  src: url("/media/WEB/fonts/ClashGrotesk-Variable.woff2") format("woff2"),
    url("/media/WEB/fonts/ClashGrotesk-Variable.woff") format("woff"),
    url("/media/WEB/fonts/ClashGrotesk-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/**
  * start styles
  */

body {
  display: flex;
  height: 100vh;
  background-image: url(../media/gaussian.png);
  font-family: "Inter", sans-serif !important;
}

.sidebar {
  margin-top: 3.4rem;
  width: 250px;
  background-color: #f8f9fad2;
  padding: 15px;
}

.nav-link.active {
  background-color: #00008b;
  color: white;
}

.nav-link {
  margin-bottom: 1rem;
}

.content {
  margin-top: 4rem;
  flex-grow: 1;
  padding: 4rem;
}

.welcome {
  color: white;
  margin-top: -2rem !important;
}

.navbar {
  padding-left: 14px;
  padding-right: 14px;
  height: 3.4rem;
  z-index: 1000;
}

.hamburger {
  margin-right: 1rem;
}

.branding {
  font-weight: bold;
  font-size: medium;
}

.headertxt {
  font-family: "ClashGrotesk-Variable" !important;
  font-weight: 600;
}

.slogo {
  width: 3rem;
  height: 3rem;
  margin-right: 0.4rem;
}

.feedback {
  width: 16%;
  margin-left: auto;
  display: block;
  position: absolute;
  bottom: 20px;
}

.aight {
  position: absolute;
  right: 1rem;
  bottom: 8px;
  display: block;
}

.bigimage {
  width: 6rem;
  height: 6rem;
}

.raise {
  width: 4rem;
  height: 4rem;
  position: absolute;
  display: block;
}

.activate {
  height: 6rem;
}

.widgets {
  margin-top: 2rem;
}
